<form action="/restaurants" method="POST">
  <input type="text" placeholder="中文名稱" name="name">
  <input type="text" placeholder="英文名稱" name="name_en">
  <input type="text" placeholder="類別" name="category">
  <input type="text" placeholder="圖片" name="image">
  <input type="text" placeholder="地址" name="location">
  <input type="text" placeholder="電話" name="phone">
  <input type="text" placeholder="google地圖位址" name="google_map">
  <input type="number" placeholder="評分" name="rating">
  <input type="text" placeholder="描述" name="description">
  <button type="submit">Create</button>
</form>